/* Base Application Styles */

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,700);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background:
    linear-gradient(
      rgba(167, 233, 154, 0.4),
      transparent
    ),
    linear-gradient(
      90deg,
      rgba(173, 136, 205, 0.4),
      transparent
    );

  background-blend-mode: screen;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;

  color: #3a3a3a;
  font-family: "Alegreya Sans", serif;
}

a {
  color: #3a3a3a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.2em;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  display: block;
  max-width: 200px;
}

.button, button {
  background: #73537b;
  color: #FFFFFF;
  padding: 6px 18px;
  border-radius: 4px;
  border: 0;
}

.button+button,
.button+.button,
button+.button,
button+button {
  margin-left: 0.3em;
}

.button:hover, button:hover {
  background: #583760;
}

.label {
  background: #eaeaea;
  color: #3a3a3a;
  font-size: 0.8em;
  padding: 2px 5px;
  border-radius: 4px;
  display: inline-block;
}

.label.label--negative {
  background: #8e4445;
  color: #FFFFFF;
}
.label.label--negative.label--money:before {
  content: '- ';
}

.label.label--positive {
  background: #8ab185;
  color: #FFFFFF;
}
.label.label--positive.label--money:before {
  content: '+ ';
}

blockquote, .blockquote {
  border-left: 3px solid #8a8a8a;
  margin: 2em 0 2em;
  padding: 0.5em 0 0.5em 1em;
}

.icon {
  display: inline-block;
  float: left;
  margin: 0 5px 5px 0;
  background: #dadada;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 35px;
  font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}

.icon:before {
  line-height: 35px;
}

.icon.icon--mondo {
  background: #13223D;
  background-image: url(../images/mondo-icon.png);
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}
.icon.icon--mondo:before {
}
.icon.icon--transport {
  background: #16788D;
}
.icon.icon--transport:before {
  content: "\f1b9";
}
.icon.icon--groceries {
  background: #EBD29C;
}
.icon.icon--groceries:before {
  content: "\f291";
}
.icon.icon--eating_out {
  background: #E8495C;
}
.icon.icon--eating_out:before {
  content: "\f0f5";
}
.icon.icon--cash {
  background: #99BDA9;
}
.icon.icon--cash:before {
  content: "\f0d6";
}
.icon.icon--bills {
  background: #43B7E0;
}
.icon.icon--bills:before {
  content: "\f0eb";
}
.icon.icon--entertainment {
  background: #EDB622;
}
.icon.icon--entertainment:before {
  content: "\f118";
}
.icon.icon--shopping {
  background: #F96172;
}
.icon.icon--shopping:before {
  content: "\f290";
}
.icon.icon--holidays {
  background: #3F103E;
}
.icon.icon--holidays:before {
  content: "\f0f2";
}
