.auth-component {
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;

  form {
    margin-top: 2em;

    input {
      display: block;
      height: 40px;
      font-size: 1.2em;
      width: 100%;
      margin: 0 0 1em;
      padding: 4px;
    }
  }
}
