.dashboard-component {

  .dashboard__users {
    margin: 0;
    padding: 0;
    letter-spacing: -4px;

    .dashboard__user {
      display: flex;
      letter-spacing: normal;
      width: 100%;
      margin: 0 0 1em;
      background: rgba(255, 255, 255, 0.2);
      padding: 20px;

      h2 {
        display: block;
        margin: 0 0 0.2em;
      }

      p {
        color: #5a5a5a;
        margin: 0 0 0.2em;
      }

      img {
        border-radius: 50%;
        max-width: 75px;
        max-height: 75px;
        margin: 0 0.67em 0 0;
      }

      .button {
        margin-left: auto;
        align-self: flex-start;
      }
    }

  }

  .dashboard__data {
    display: flex;
    justify-content: space-between;

    .dashboard__card {
      width: 35%;

      &.dashboard__card--chart {
        width: 60%;
        margin-right: 5%;
      }
    }
  }

  .dashboard__transactions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;

    &:before {
      content: 'Recent transactions';
      position: absolute;
      top: -20px;
      right: 0;
      width: 100%;
      height: 30px;
      text-align: right;
      text-transform: uppercase;
      font-size: 0.8em;
    }

    li {
       background: rgba(255, 255, 255, 0.6);
       padding: 10px;
       margin: 0 0 0.4em;
    }
  }

}
