/* Base Application Styles */

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,700);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background:
    linear-gradient(
      rgba(167, 233, 154, 0.4),
      transparent
    ),
    linear-gradient(
      90deg,
      rgba(173, 136, 205, 0.4),
      transparent
    );

  background-blend-mode: screen;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;

  color: #3a3a3a;
  font-family: "Alegreya Sans", serif;
}

a {
  color: #3a3a3a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.2em;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  display: block;
  max-width: 200px;
}

.button, button {
  background: #73537b;
  color: #FFFFFF;
  padding: 6px 18px;
  border-radius: 4px;
  border: 0;
}

.button+button,
.button+.button,
button+.button,
button+button {
  margin-left: 0.3em;
}

.button:hover, button:hover {
  background: #583760;
}

.label {
  background: #eaeaea;
  color: #3a3a3a;
  font-size: 0.8em;
  padding: 2px 5px;
  border-radius: 4px;
  display: inline-block;
}

.label.label--negative {
  background: #8e4445;
  color: #FFFFFF;
}
.label.label--negative.label--money:before {
  content: '- ';
}

.label.label--positive {
  background: #8ab185;
  color: #FFFFFF;
}
.label.label--positive.label--money:before {
  content: '+ ';
}
